@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
  
}
header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
    
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }
  .logo {
      width: 65px;
      margin-right: 1rem;
  }
  .lupa {
      width: 25px;

  }
  form {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    color: rgba(0,0,0,.05);
  }
  form.Search input[type=text]{
      width: 850px;
  }
  form.Search input[type=button]{
    background-color: #fb3e44;
    height: 25px;
    color: white;
    
}
.Build{
    
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    text-align: center;
    height: 600px;
    background-color: rgba(232,217,217,.3);
}
h1.a{
    margin: 2rem;
font-size: 60px;

font-weight: bold;
}
p.a{
    
    width: 400px;
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.b {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: center;
    text-align: center;
}
.plans{
   padding: 10px;
   padding-left: 50px;
   padding-right: 50px;
    box-shadow:8px 8px 0 rgba(251,59,73,.2);
    margin: 2rem;
    background-color: #FB3B49;
    color: white;
    
    text-align: center;
}
.free{
    text-align: center;
    padding: 10px;
   padding-left: 50px;
   padding-right: 50px;
      
}
.Bring{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
    align-content: center;  
    margin: 2rem;
}
h1.b{
    font-weight: bold;
    font-size: 34px;
    font-style: oblique;
    padding-left: 50px;
   padding-right: 50px;
    font-style: italic;
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
   
}
p.b{
    
    width: 750px;
    font-size: 16px;
    text-align: center;
    font-weight: normal;
    
}

img.Bring{
    width: 250px;

    
}
.Zero{
    margin: 7rem;
    
    
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: baseline;
        align-content: stretch;
    }
p.c{
    font-size: 16px;
    width: 200px;
    text-align: start;
    
}
p.d{
    font-size: 16px;
    width: 200px;
    text-align: start;
}
p.e{
    font-size: 16px;
    width: 200px;
    text-align: start;
}
p.f{
    font-size: 16px;
    width: 200px;
    text-align: start;
}

h1.c{
    font-size: 16px;
    text-align: justify;
    color: #ED1C24;
    

}
h1.d{
    font-size: 16px;
    text-align: justify;
    color: #ED1C24;
    

}
h1.e{
    font-size: 16px;
    text-align: justify;
    color: #ED1C24;
    

}
h1.f{
    font-size: 16px;
    text-align: justify;
    color: #ED1C24;
    

}
img.zero{
    width: 40px;

}
img.team{
    width: 40px;
}
img.familiar{
    width: 40px;
}
img.npm{
    width: 40px;
}


nav.org{
    margin: 4rem;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
       width: auto;

       
       
       
}
a.org{
    color: white;
    font-size: 20px;
    
    background-color: black;
       box-shadow:8px 8px 0 rgba(128,83,35,.2);
       padding-left: 80px;
       padding-right: 80px;
       padding-top: 10px;
       padding-bottom: 10px;
       
}